body {
    display: grid;
    justify-content: center;
}

#calculator-container {
    background-color: pink;
    display: grid;
    grid-template-rows: 30fr 70fr;
    width: 50vw;
    height: 60vh;
    margin-top: 20%;
    border-radius: 1%;
    padding: 5px;
}

#calculator-display {
    background-color: white;
    margin: 10px;
    text-align: center;
    padding-top: 8%;
}

#calculator-btns {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 3px;
}

#calculator-btns button {
    margin: 2px;
    padding: 0px;
}